.pages
    &__wrap
        display: flex
        grid-gap: 40px
        justify-content: space-between
    &__tree
        width: 500px
        padding: 32px 20px
        border: 1px solid #dedede
        border-radius: 10px
    &__form
        width: calc(100% - 600px)
    &__new
        padding-top: 15px
        font-size: 20px
.blocks
    &__wrap
        display: flex
        justify-content: space-between
    &__all, &__curr
        width: 45%
    &__block
        margin-bottom: 10px
        border: 1px solid #dedede
        padding: 20px
        transition: all 0.3s
        cursor: pointer
        &:hover
            border: 1px solid #000
    &__checked
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 10px
        border: 1px solid #dedede
        padding: 20px
    &__remove
        cursor: pointer